In [2]:
import os 
import numpy as np
import pandas as pd
from datetime import date, timedelta

import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.4f' % x)

## Load Data

In [4]:
path = '../data/processed'
df = pd.read_pickle(os.path.join(path,'transactions.pkl'))
random_list = pd.read_csv('../data/random_customer.csv')
df.head()

       t_dat  customer_id  article_id  price  sales_channel_id
0 2018-09-20            2   663713001 0.0508                 2
1 2018-09-20            2   541518023 0.0305                 2
2 2018-09-20            7   505221004 0.0152                 2
3 2018-09-20            7   685687003 0.0169                 2
4 2018-09-20            7   685687004 0.0169                 2

In [5]:
random_list

      Unnamed: 0  customer_id
0              0         4505
1              1         5448
2              2         6311
3              3         7783
4              4         7926
...          ...          ...
7165        7165      1361806
7166        7166      1362074
7167        7167      1364789
7168        7168      1366531
7169        7169      1368051

[7170 rows x 2 columns]

## Procedure
- find similar users or items
- predict the ratings of the items that are not yet rated by a user

<b>Answers to these questions:</b>
- How do you determine which users or items are similar to one another?
- Given that you know which users are similar, how do you determine the rating that a user would give to an item based on the ratings of similar users?
- How do you measure the accuracy of the ratings you calculate?

<br><b>Keep in mind!!</b>
- The similarity is not calculated using factors like the age of users, genre of the movie, or any other data about users or items. 
- It is <u>calculated only on the basis of the rating</u> (explicit or implicit) a user gives to an item. 
- For example, two users can be considered similar if they give the same ratings to ten movies despite there being a big difference in their age.

## Data Transfromation

In [13]:
temp = df[df.t_dat<'2020-01-01']
temp = df.drop_duplicates(subset=['customer_id','article_id'])
temp.head()

       t_dat  customer_id  article_id  price  sales_channel_id
0 2018-09-20            2  0663713001 0.0508                 2
1 2018-09-20            2  0541518023 0.0305                 2
2 2018-09-20            7  0505221004 0.0152                 2
3 2018-09-20            7  0685687003 0.0169                 2
4 2018-09-20            7  0685687004 0.0169                 2

In [15]:
import cudf

ModuleNotFoundError: No module named 'cudf'

In [6]:
# load_data.py

import pandas as pd
from surprise import Dataset
from surprise import Reader

# This is the same data that was plotted for similarity earlier
# with one new user "E" who has rated only movie 1
ratings_dict = {
    "item": [1, 2, 1, 2, 1, 2, 1, 2, 1],
    "user": ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D', 'E'],
    "rating": [1, 2, 2, 4, 2.5, 4, 4.5, 5, 3],
}

df = pd.DataFrame(ratings_dict)
reader = Reader(rating_scale=(1, 5))

# Loads Pandas dataframe
data = Dataset.load_from_df(df[["user", "item", "rating"]], reader)
# Loads the builtin Movielens-100k data
movielens = Dataset.load_builtin('ml-100k')

ModuleNotFoundError: No module named 'surprise'