In [3]:
import os 
import numpy as np
import pandas as pd
from datetime import date, timedelta

import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.4f' % x)

## Load Data

In [4]:
path = '../data/processed'
df = pd.read_pickle(os.path.join(path,'transactions.pkl'))
df.head()

       t_dat  customer_id  article_id  price  sales_channel_id
0 2018-09-20            2  0663713001 0.0508                 2
1 2018-09-20            2  0541518023 0.0305                 2
2 2018-09-20            7  0505221004 0.0152                 2
3 2018-09-20            7  0685687003 0.0169                 2
4 2018-09-20            7  0685687004 0.0169                 2

## Data Transfromation

In [13]:
temp = df[df.t_dat<'2020-01-01']
temp = df.drop_duplicates(subset=['customer_id','article_id'])
temp.head()

       t_dat  customer_id  article_id  price  sales_channel_id
0 2018-09-20            2  0663713001 0.0508                 2
1 2018-09-20            2  0541518023 0.0305                 2
2 2018-09-20            7  0505221004 0.0152                 2
3 2018-09-20            7  0685687003 0.0169                 2
4 2018-09-20            7  0685687004 0.0169                 2

In [15]:
import cudf

ModuleNotFoundError: No module named 'cudf'